
thead {color:green;}
tbody {color:blue;}
tfoot {color:red;}

table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
}
table{
    width:350px;
    height:300px;
}
td{
    padding:15px;
}
th{
    padding-left:20px;
}
